<!DOCTYPE html>
<html>
  <head>
    <style> 
      body {
        background-color: #1a1a1a;
        font-family: 'Avenir', 'Monospace';
        padding: 20px;
        color: #b7b7b7;
      }

      h1 {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
      }

      p {
        font-size: 16px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome, <%=person%></h1>
    <p>Age: <%=data.age%></p>
    <p>Job: <%=data.job%></p>
    <p>Hobbies</p>
    <ul>
      <% data.hobbies.forEach((hobby) => { %>
        <li><%= hobby %></li>
      <% }) %>
    </ul>
  </body>
</html>